/* app css stylesheet */

/*
	Common components
*/
body {
	background-color:lightgrey;
}

a {
	font-size: 30px;
	margin: 15px;
	margin-top: 20px;
}

.button {
	height:128px;
	weight:128px;
	margin-top: 10px;
	margin-left:10px;
	margin-right: 10px;
}

/*
	Common sections
*/
.previousButton {
	float: left;
	text-align: center;
	margin-top:150px;
	
}

.nextButton {
	float: right;
	text-align: center;
	margin-top:150px;
}

.topButtons {
	float: top;
	height: 148px;
	text-align: center;
	margin: 5px;
}


.centrePanel {
	width: 100%;
	height: 100%;
	display: block;
    text-align: center;
}


.bottomButtons {
	float: bottom;
	height: 148px;
	text-align: center;
	margin: 2px;
}

.headFootContent {
	width: 580px;
	height: 148px;
	text-align: center;
	margin: 0 auto;
	background-color:grey;
}

.centreContent {
	background-color:white;
	width: 580px;
	height: 420px;
	text-align: center;
	margin: 0 auto;
}



/*
	Main page
*/
.artist {
	font-family:Arial,Georgia,Serif;
	font-size: 24px;
	margin-bottom: 10px;
}

.album {
	font-family:Arial,Georgia,Serif;
	font-size: 21px;
	margin-bottom: 10px;
}

.track {
	font-family:Arial,Georgia,Serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.albumCover {
	height:200px;
	weight:200px;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*
	Playlist
*/

/*
	Catalogue
*/
